/*----------------------------------
Table of contents
----------------------------------*/
/*
1) variable
2) mixin
3) button
4) base
5) color
6) header
7) mega-menu
8) footer
9) banner
10) title
11) effect
12) feature-box
13) video
14) portfolio
15) process-bar
16) testimonial
17) team
18) client
19) accordion
20) price-table
21) blog
22) social
23) form
24) list
25) space
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap");
/*----------------------------------
* Buttons
----------------------------------*/
.m-btn-link {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #d9832e;
  border-bottom: 2px solid currentColor;
}
.m-btn-link:hover {
  color: #090a0c;
}

.m-btn {
  display: inline-block;
  border: 2px solid transparent;
  color: inherit;
  line-height: inherit;
  border-radius: 0;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  -moz-transition: ease-in-out all 0.55s;
  -o-transition: ease-in-out all 0.55s;
  -webkit-transition: ease-in-out all 0.55s;
  transition: ease-in-out all 0.55s;
  text-align: center;
}
.m-btn.m-btn-xsm {
  font-size: 10px;
  padding: 2px 17px;
}
.m-btn.m-btn-sm {
  font-size: 11px;
  padding: 4px 24px;
}
.m-btn.m-btn-lg {
  font-size: 13px;
  padding: 12px 34px;
  line-height: 25px;
}
.m-btn.m-btn-xl {
  font-size: 15px;
  padding: 15px 40px;
  line-height: 25px;
}
.m-btn.m-btn-theme {
  background: #d9832e;
  color: #ffffff;
  border-color: #d9832e;
}
.m-btn.m-btn-theme:hover {
  background: #090a0c;
  border-color: #090a0c;
}
.m-btn.m-btn-t-theme {
  background: transparent;
  color: #d9832e;
  border-color: #d9832e;
}
.m-btn.m-btn-t-theme:hover {
  background: #d9832e;
  border-color: #d9832e;
  color: #ffffff;
}
.m-btn.m-btn-dark {
  background: #090a0c;
  color: #ffffff;
  border-color: #090a0c;
}
.m-btn.m-btn-dark:hover {
  background: #d9832e;
  border-color: #d9832e;
}
.m-btn.m-btn-t-dark {
  background: transparent;
  color: #090a0c;
  border-color: #090a0c;
}
.m-btn.m-btn-t-dark:hover {
  background: #090a0c;
  border-color: #090a0c;
  color: #ffffff;
}
.m-btn.m-btn-white {
  background: #ffffff;
  color: #d9832e;
  border-color: #ffffff;
}
.m-btn.m-btn-white:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.m-btn.m-btn-t-white {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
.m-btn.m-btn-t-white:hover {
  background: #ffffff;
  border-color: #ffffff;
  color: #090a0c;
}

/* Icon
----------------*/
.video-btn {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  -moz-transition: ease all 0.55s;
  -o-transition: ease all 0.55s;
  -webkit-transition: ease all 0.55s;
  transition: ease all 0.55s;
  z-index: 1;
  border: none;
}
.video-btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  pointer-events: none;
  z-index: -1;
}
.video-btn.white {
  background: #ffffff;
}
.video-btn.white:after {
  background: #ffffff;
}
.video-btn.white span {
  color: #d9832e;
}
.video-btn.theme {
  background: #d9832e;
}
.video-btn.theme:after {
  background: #d9832e;
}
.video-btn.theme span {
  color: #ffffff;
}
.video-btn span {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid currentcolor;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 9px;
  right: 0;
  margin: auto;
  width: 0px;
  height: 0px;
}

@keyframes pulse-border {
  0% {
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
/* ------------------------
*	General
------------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #555a64;
  font-weight: 400;
  line-height: 1.6;
  font-smoothing: antialiased;
}

html {
  overflow-x: hidden;
}

a {
  color: #d9832e;
}
a:hover {
  color: #bc6f22;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.fa,
.fab,
.fal,
.far,
.fas {
  line-height: inherit;
}

mark {
  background-image: linear-gradient(#7ef6e7, #81f1e7);
  background-size: 100% 34%;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}

/* ----------------------
*	Loading
---------------------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d9832e;
  z-index: 99999;
}

.load-circle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}
.load-circle span {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.load-circle span:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ----------------------
*Heading fonts size
---------------------------*/
.h1,
h1 {
  font-size: 50px;
}
@media (max-width: 991px) {
  .h1,
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 35px;
  }
}

.h2,
h2 {
  font-size: 44px;
}
@media (max-width: 991px) {
  .h2,
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .h2,
  h2 {
    font-size: 32px;
  }
}

.h3,
h3 {
  font-size: 32px;
}
@media (max-width: 991px) {
  .h3,
  h3 {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .h3,
  h3 {
    font-size: 24px;
  }
}

.h4,
h4 {
  font-size: 26px;
}
@media (max-width: 767px) {
  .h4,
  h4 {
    font-size: 22px;
  }
}

.h5,
h5 {
  font-size: 20px;
}

.h6,
h6 {
  font-size: 18px;
}

/* ----------------------
*	owl 
---------------------------*/
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 1px solid #d9832e;
  -moz-transition: ease all 0.55s;
  -o-transition: ease all 0.55s;
  -webkit-transition: ease all 0.55s;
  transition: ease all 0.55s;
  border-radius: 50%;
  margin: 0 5px;
}
.owl-carousel-white .owl-dots .owl-dot {
  border-color: #ffffff;
  background: none;
}
.owl-dots .owl-dot.active {
  background: #d9832e;
}
.owl-carousel-white .owl-dots .owl-dot.active {
  background: #ffffff;
}

.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
}

/* Background color
-------------------------------*/
.theme-bg {
  background-color: #d9832e;
}

.dark-bg {
  background-color: #090a0c;
}

.gray-bg {
  background-color: #eaedf2;
}

.white-bg {
  background-color: #ffffff;
}

.blue-bg {
  background-color: #49bedf;
}

/* Text color
-------------------------------*/
.white-color {
  color: #ffffff;
}

.white-color-light {
  color: rgba(255, 255, 255, 0.65);
}

.dark-color {
  color: #090a0c;
}

.body-color {
  color: #555a64;
}

.theme-color {
  color: #d9832e;
}

.green-color {
  color: #11e279;
}

/*	Toggle Menu
-------------------------*/
.navbar-toggler,
.toggler-menu {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0;
  border-radius: 0;
  padding: 0;
  margin-left: 15px;
  background: #d9832e;
  border: none;
}
.navbar-toggler span,
.toggler-menu span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 2px;
  margin: auto;
  box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
  background: #ffffff;
  color: #ffffff;
}

.mob-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  left: 0;
  padding: 6px 10px;
  background: #ffffff;
}
.mob-header .toggler-menu {
  margin-left: auto;
}
.mob-header .navbar-brand {
  font-size: 20px;
}
.mob-header .navbar-brand a {
  color: #d9832e;
  font-weight: 600;
}
@media (min-width: 992px) {
  .mob-header {
    display: none;
  }
}

/* Side Menu
-----------------------------*/
.header-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 95px;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0;
  bottom: 0;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.29);
  z-index: 3;
}
@media (max-width: 991px) {
  .header-left {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    left: -150px;
  }
  .header-left.menu-open {
    left: 0;
  }
}
.header-left .navbar-brand {
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 0;
}
.header-left .navbar-brand a {
  padding: 10px 0;
  background: #d9832e;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  display: block;
}
.header-left .nav li {
  width: 100%;
  text-align: center;
}
.header-left .nav li a {
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
  display: block;
  position: relative;
  border-bottom: 1px solid rgba(9, 10, 12, 0.06);
  text-transform: uppercase;
  letter-spacing: 0.055rem;
  color: #090a0c;
}
.header-left .nav li a:after {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 0;
  background: #d9832e;
  top: auto;
  bottom: 0;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.header-left .nav li a i {
  font-size: 20px;
  width: 100%;
}
.header-left .nav li a.active, .header-left .nav li a:hover {
  color: #d9832e;
}
.header-left .nav li a.active:after {
  height: 100%;
  bottom: auto;
  top: 0;
}

/* Header Dark
-----------------------------*/
@media (min-width: 992px) {
  .header-dark {
    padding: 0;
    background: rgba(255, 255, 255, 0.72);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .fixed-header .header-dark {
    background: #ffffff;
  }
  .header-dark .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #090a0c;
  }
  .header-dark .navbar-nav .nav-link {
    line-height: 60px;
    padding: 0 10px !important;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.035rem;
    color: #090a0c;
    margin-left: 10px;
  }
  .header-dark .navbar-nav .nav-link.active, .header-dark .navbar-nav .nav-link:hover {
    color: #d9832e;
  }
}
/* Header Dark
-----------------------------*/
@media (min-width: 992px) {
  .header-white {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .fixed-header .header-white {
    background: #ffffff;
  }
  .header-white .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .fixed-header .header-white .navbar-brand {
    color: #090a0c;
  }
  .header-white .navbar-nav .nav-link {
    line-height: 60px;
    padding: 0 10px !important;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.035rem;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10px;
  }
  .fixed-header .header-white .navbar-nav .nav-link {
    color: #090a0c;
  }
  .header-white .navbar-nav .nav-link.active, .header-white .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .fixed-header .header-white .navbar-nav .nav-link.active, .fixed-header .header-white .navbar-nav .nav-link:hover {
    color: #d9832e;
  }
}
/* Mobile 
-----------------------------*/
@media (max-width: 991px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .fixed-header .header-nav {
    background: #ffffff;
  }
  .header-nav .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #090a0c;
  }
  .header-nav.header-white .navbar-brand {
    color: #ffffff;
  }
  .fixed-header .header-nav.header-white .navbar-brand {
    color: #090a0c;
  }
  .header-nav .navbar-nav {
    padding: 8px 15px;
    border: 1px solid #ddd;
    background: #ffffff;
  }
  .header-nav .navbar-nav > li + li .nav-link {
    border-top: 1px solid #ddd;
  }
  .header-nav .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.035rem;
    color: #090a0c;
  }
  .header-nav .navbar-nav .nav-link.active, .header-nav .navbar-nav .nav-link:hover {
    color: #d9832e;
  }
}
.footer {
  padding: 12px 0;
  background: #111;
}
.footer .nav a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-right: 17px;
}
.footer .nav a:hover {
  color: #ffffff;
}
.footer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin: 0;
}

.section-title h3 {
  font-weight: 700;
  font-size: 35px;
  margin: 0 0 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  padding: 0 0 10px;
}
.section-title h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 2px;
  z-index: -1;
  background: #d9832e;
  width: 50px;
}
.section-title p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
}

.skill-lt:not(:first-child) {
  margin-top: 30px;
}
.skill-lt h6 {
  font-size: 16px;
  margin: 0 0 10px;
}
.skill-lt .skill-bar {
  position: relative;
  background: #eee;
}
.skill-lt .skill-bar .skill-bar-in {
  width: 0px;
  -moz-transition: ease all 0.55s;
  -o-transition: ease all 0.55s;
  -webkit-transition: ease all 0.55s;
  transition: ease all 0.55s;
  height: 5px;
  position: relative;
}
.skill-lt .skill-bar .skill-bar-in span {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 14px;
}
.skill-lt.md .skill-bar .skill-bar-in {
  height: 8px;
}
.skill-lt.lg .skill-bar .skill-bar-in {
  height: 10px;
}
.skill-lt.light .skill-bar {
  background: rgba(0, 0, 0, 0.5);
}

/*---------------------------------
* sec-round
-----------------------------------*/
.sec-round {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sec-round .full-height {
  height: 100%;
}
.sec-round .round-item {
  float: left;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid rgba(153, 153, 153, 0.11);
  height: 100%;
  position: relative;
}
.sec-round .round-item:first-child {
  border-left: 1px solid rgba(153, 153, 153, 0.11);
}

/* ----------------------
*	Section
-------------------------*/
.container-large {
  max-width: 1440px;
}

.container-small {
  max-width: 750px;
}

.section {
  padding: 100px 0;
}
@media (max-width: 991px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-top-up .container {
  margin-top: -190px;
  position: relative;
  z-index: 1;
}

.section-top-up-100 .container {
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

/* ----------------------
*	Box shadow
---------------------------*/
.box-shadow-lg {
  box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
}

.box-shadow {
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}

.box-shadow-hover {
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
}
.box-shadow-hover:hover {
  box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
}

.box-shadow-only-hover:hover {
  box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
}

.border-radius-50 {
  border-radius: 50%;
}

/* ----------------------
*	Opacity
---------------------------*/
.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

/* ----------------------
*	transeition
---------------------------*/
.transition {
  -moz-transition: ease-in-out all 0.35s;
  -o-transition: ease-in-out all 0.35s;
  -webkit-transition: ease-in-out all 0.35s;
  transition: ease-in-out all 0.35s;
}

/* ----------------------
*	Image Hover
---------------------------*/
.img-hover .img-hover-in {
  overflow: hidden;
}
.img-hover .img-hover-in img {
  -moz-transition: ease-in-out all 0.33s;
  -o-transition: ease-in-out all 0.33s;
  -webkit-transition: ease-in-out all 0.33s;
  transition: ease-in-out all 0.33s;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.img-hover:hover .img-hover-in img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ----------------------
*	Top Hover
---------------------------*/
.hover-top {
  position: relative;
  top: 0;
}
.hover-top:hover {
  top: -10px;
}

/* ----------------------
*	Grayscale Hover
---------------------------*/
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.grayscale-hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.grayscale-hover:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

.font-alt {
  font-family: "Poppins", sans-serif;
}

/*	Property
---------------------------*/
.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-position: center;
}

/* Letter spacing
-------------------------------*/
.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.letter-spacing-6 {
  letter-spacing: 6px;
}

.letter-spacing-7 {
  letter-spacing: 7px;
}

.letter-spacing-8 {
  letter-spacing: 8px;
}

.letter-spacing-9 {
  letter-spacing: 9px;
}

.letter-spacing-10 {
  letter-spacing: 10px;
}

/* Height Width
--------------------*/
.w-5px {
  width: 5px;
}

.w-10px {
  width: 10px;
}

.w-15px {
  width: 15px;
}

.w-20px {
  width: 20px;
}

.w-25px {
  width: 25px;
}

.w-30px {
  width: 30px;
}

.w-35px {
  width: 35px;
}

.w-40px {
  width: 40px;
}

.w-45px {
  width: 45px;
}

.w-50px {
  width: 50px;
}

.w-55px {
  width: 55px;
}

.w-60px {
  width: 60px;
}

.w-65px {
  width: 65px;
}

.w-70px {
  width: 70px;
}

.w-75px {
  width: 75px;
}

.w-80px {
  width: 80px;
}

.w-85px {
  width: 85px;
}

.w-90px {
  width: 90px;
}

.w-95px {
  width: 95px;
}

.w-100px {
  width: 100px;
}

.w-150px {
  width: 150px;
}

.w-200px {
  width: 200px;
}

.w-250px {
  width: 250px;
}

.w-300px {
  width: 300px;
}

.w-350px {
  width: 350px;
}

.w-400px {
  width: 400px;
}

.w-450px {
  width: 450px;
}

.w-500px {
  width: 500px;
}

.w-550px {
  width: 550px;
}

.w-600px {
  width: 600px;
}

.w-650px {
  width: 650px;
}

.w-700px {
  width: 700px;
}

.w-750px {
  width: 750px;
}

.w-800px {
  width: 800px;
}

.w-850px {
  width: 850px;
}

.w-900px {
  width: 900px;
}

.w-950px {
  width: 950px;
}

.w-1000px {
  width: 1000px;
}

.max-w-100 {
  max-width: 100%;
}

.min-h-350px {
  min-height: 350px;
}

.min-h-50vw {
  min-height: 65vh;
}

.full-screen {
  min-height: 100vh;
}

.screen-85 {
  min-height: 85vh;
}

.screen-65 {
  min-height: 65vh;
}

@media (max-width: 767px) {
  .sm-full-screen-auto {
    min-height: auto;
  }
}
.max-width-auto {
  max-width: none;
}
@media (max-width: 991px) {
  .max-width-auto {
    max-width: 100%;
  }
}

/* Font wight
--------------------*/
.font-w-100 {
  font-weight: 100;
}

.font-w-200 {
  font-weight: 200;
}

.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

/* Margin Padding
--------------------*/
.m-0px {
  margin: 0px;
}

.m-0px-tb {
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-0px-lr {
  margin-left: 0px;
  margin-right: 0px;
}

.m-0px-t {
  margin-top: 0px;
}

.m-0px-l {
  margin-left: 0px;
}

.m-0px-r {
  margin-right: 0px;
}

.m-0px-b {
  margin-bottom: 0px;
}

.p-0px {
  padding: 0px;
}

.p-0px-tb {
  padding-top: 0px;
  padding-bottom: 0px;
}

.p-0px-lr {
  padding-left: 0px;
  padding-right: 0px;
}

.p-0px-t {
  padding-top: 0px;
}

.p-0px-l {
  padding-left: 0px;
}

.p-0px-r {
  padding-right: 0px;
}

.p-0px-b {
  padding-bottom: 0px;
}

.m-5px {
  margin: 5px;
}

.m-5px-tb {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-5px-lr {
  margin-left: 5px;
  margin-right: 5px;
}

.m-5px-t {
  margin-top: 5px;
}

.m-5px-l {
  margin-left: 5px;
}

.m-5px-r {
  margin-right: 5px;
}

.m-5px-b {
  margin-bottom: 5px;
}

.p-5px {
  padding: 5px;
}

.p-5px-tb {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-5px-lr {
  padding-left: 5px;
  padding-right: 5px;
}

.p-5px-t {
  padding-top: 5px;
}

.p-5px-l {
  padding-left: 5px;
}

.p-5px-r {
  padding-right: 5px;
}

.p-5px-b {
  padding-bottom: 5px;
}

.m-10px {
  margin: 10px;
}

.m-10px-tb {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-10px-lr {
  margin-left: 10px;
  margin-right: 10px;
}

.m-10px-t {
  margin-top: 10px;
}

.m-10px-l {
  margin-left: 10px;
}

.m-10px-r {
  margin-right: 10px;
}

.m-10px-b {
  margin-bottom: 10px;
}

.p-10px {
  padding: 10px;
}

.p-10px-tb {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-10px-lr {
  padding-left: 10px;
  padding-right: 10px;
}

.p-10px-t {
  padding-top: 10px;
}

.p-10px-l {
  padding-left: 10px;
}

.p-10px-r {
  padding-right: 10px;
}

.p-10px-b {
  padding-bottom: 10px;
}

.m-15px {
  margin: 15px;
}

.m-15px-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-15px-lr {
  margin-left: 15px;
  margin-right: 15px;
}

.m-15px-t {
  margin-top: 15px;
}

.m-15px-l {
  margin-left: 15px;
}

.m-15px-r {
  margin-right: 15px;
}

.m-15px-b {
  margin-bottom: 15px;
}

.p-15px {
  padding: 15px;
}

.p-15px-tb {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-15px-lr {
  padding-left: 15px;
  padding-right: 15px;
}

.p-15px-t {
  padding-top: 15px;
}

.p-15px-l {
  padding-left: 15px;
}

.p-15px-r {
  padding-right: 15px;
}

.p-15px-b {
  padding-bottom: 15px;
}

.m-20px {
  margin: 20px;
}

.m-20px-tb {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-20px-lr {
  margin-left: 20px;
  margin-right: 20px;
}

.m-20px-t {
  margin-top: 20px;
}

.m-20px-l {
  margin-left: 20px;
}

.m-20px-r {
  margin-right: 20px;
}

.m-20px-b {
  margin-bottom: 20px;
}

.p-20px {
  padding: 20px;
}

.p-20px-tb {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-20px-lr {
  padding-left: 20px;
  padding-right: 20px;
}

.p-20px-t {
  padding-top: 20px;
}

.p-20px-l {
  padding-left: 20px;
}

.p-20px-r {
  padding-right: 20px;
}

.p-20px-b {
  padding-bottom: 20px;
}

.m-25px {
  margin: 25px;
}

.m-25px-tb {
  margin-top: 25px;
  margin-bottom: 25px;
}

.m-25px-lr {
  margin-left: 25px;
  margin-right: 25px;
}

.m-25px-t {
  margin-top: 25px;
}

.m-25px-l {
  margin-left: 25px;
}

.m-25px-r {
  margin-right: 25px;
}

.m-25px-b {
  margin-bottom: 25px;
}

.p-25px {
  padding: 25px;
}

.p-25px-tb {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-25px-lr {
  padding-left: 25px;
  padding-right: 25px;
}

.p-25px-t {
  padding-top: 25px;
}

.p-25px-l {
  padding-left: 25px;
}

.p-25px-r {
  padding-right: 25px;
}

.p-25px-b {
  padding-bottom: 25px;
}

.m-30px {
  margin: 30px;
}

.m-30px-tb {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-30px-lr {
  margin-left: 30px;
  margin-right: 30px;
}

.m-30px-t {
  margin-top: 30px;
}

.m-30px-l {
  margin-left: 30px;
}

.m-30px-r {
  margin-right: 30px;
}

.m-30px-b {
  margin-bottom: 30px;
}

.p-30px {
  padding: 30px;
}

.p-30px-tb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-30px-lr {
  padding-left: 30px;
  padding-right: 30px;
}

.p-30px-t {
  padding-top: 30px;
}

.p-30px-l {
  padding-left: 30px;
}

.p-30px-r {
  padding-right: 30px;
}

.p-30px-b {
  padding-bottom: 30px;
}

.m-35px {
  margin: 35px;
}

.m-35px-tb {
  margin-top: 35px;
  margin-bottom: 35px;
}

.m-35px-lr {
  margin-left: 35px;
  margin-right: 35px;
}

.m-35px-t {
  margin-top: 35px;
}

.m-35px-l {
  margin-left: 35px;
}

.m-35px-r {
  margin-right: 35px;
}

.m-35px-b {
  margin-bottom: 35px;
}

.p-35px {
  padding: 35px;
}

.p-35px-tb {
  padding-top: 35px;
  padding-bottom: 35px;
}

.p-35px-lr {
  padding-left: 35px;
  padding-right: 35px;
}

.p-35px-t {
  padding-top: 35px;
}

.p-35px-l {
  padding-left: 35px;
}

.p-35px-r {
  padding-right: 35px;
}

.p-35px-b {
  padding-bottom: 35px;
}

.m-40px {
  margin: 40px;
}

.m-40px-tb {
  margin-top: 40px;
  margin-bottom: 40px;
}

.m-40px-lr {
  margin-left: 40px;
  margin-right: 40px;
}

.m-40px-t {
  margin-top: 40px;
}

.m-40px-l {
  margin-left: 40px;
}

.m-40px-r {
  margin-right: 40px;
}

.m-40px-b {
  margin-bottom: 40px;
}

.p-40px {
  padding: 40px;
}

.p-40px-tb {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-40px-lr {
  padding-left: 40px;
  padding-right: 40px;
}

.p-40px-t {
  padding-top: 40px;
}

.p-40px-l {
  padding-left: 40px;
}

.p-40px-r {
  padding-right: 40px;
}

.p-40px-b {
  padding-bottom: 40px;
}

.m-45px {
  margin: 45px;
}

.m-45px-tb {
  margin-top: 45px;
  margin-bottom: 45px;
}

.m-45px-lr {
  margin-left: 45px;
  margin-right: 45px;
}

.m-45px-t {
  margin-top: 45px;
}

.m-45px-l {
  margin-left: 45px;
}

.m-45px-r {
  margin-right: 45px;
}

.m-45px-b {
  margin-bottom: 45px;
}

.p-45px {
  padding: 45px;
}

.p-45px-tb {
  padding-top: 45px;
  padding-bottom: 45px;
}

.p-45px-lr {
  padding-left: 45px;
  padding-right: 45px;
}

.p-45px-t {
  padding-top: 45px;
}

.p-45px-l {
  padding-left: 45px;
}

.p-45px-r {
  padding-right: 45px;
}

.p-45px-b {
  padding-bottom: 45px;
}

.m-50px {
  margin: 50px;
}

.m-50px-tb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-50px-lr {
  margin-left: 50px;
  margin-right: 50px;
}

.m-50px-t {
  margin-top: 50px;
}

.m-50px-l {
  margin-left: 50px;
}

.m-50px-r {
  margin-right: 50px;
}

.m-50px-b {
  margin-bottom: 50px;
}

.p-50px {
  padding: 50px;
}

.p-50px-tb {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-50px-lr {
  padding-left: 50px;
  padding-right: 50px;
}

.p-50px-t {
  padding-top: 50px;
}

.p-50px-l {
  padding-left: 50px;
}

.p-50px-r {
  padding-right: 50px;
}

.p-50px-b {
  padding-bottom: 50px;
}

.m-55px {
  margin: 55px;
}

.m-55px-tb {
  margin-top: 55px;
  margin-bottom: 55px;
}

.m-55px-lr {
  margin-left: 55px;
  margin-right: 55px;
}

.m-55px-t {
  margin-top: 55px;
}

.m-55px-l {
  margin-left: 55px;
}

.m-55px-r {
  margin-right: 55px;
}

.m-55px-b {
  margin-bottom: 55px;
}

.p-55px {
  padding: 55px;
}

.p-55px-tb {
  padding-top: 55px;
  padding-bottom: 55px;
}

.p-55px-lr {
  padding-left: 55px;
  padding-right: 55px;
}

.p-55px-t {
  padding-top: 55px;
}

.p-55px-l {
  padding-left: 55px;
}

.p-55px-r {
  padding-right: 55px;
}

.p-55px-b {
  padding-bottom: 55px;
}

.m-60px {
  margin: 60px;
}

.m-60px-tb {
  margin-top: 60px;
  margin-bottom: 60px;
}

.m-60px-lr {
  margin-left: 60px;
  margin-right: 60px;
}

.m-60px-t {
  margin-top: 60px;
}

.m-60px-l {
  margin-left: 60px;
}

.m-60px-r {
  margin-right: 60px;
}

.m-60px-b {
  margin-bottom: 60px;
}

.p-60px {
  padding: 60px;
}

.p-60px-tb {
  padding-top: 60px;
  padding-bottom: 60px;
}

.p-60px-lr {
  padding-left: 60px;
  padding-right: 60px;
}

.p-60px-t {
  padding-top: 60px;
}

.p-60px-l {
  padding-left: 60px;
}

.p-60px-r {
  padding-right: 60px;
}

.p-60px-b {
  padding-bottom: 60px;
}

.m-65px {
  margin: 65px;
}

.m-65px-tb {
  margin-top: 65px;
  margin-bottom: 65px;
}

.m-65px-lr {
  margin-left: 65px;
  margin-right: 65px;
}

.m-65px-t {
  margin-top: 65px;
}

.m-65px-l {
  margin-left: 65px;
}

.m-65px-r {
  margin-right: 65px;
}

.m-65px-b {
  margin-bottom: 65px;
}

.p-65px {
  padding: 65px;
}

.p-65px-tb {
  padding-top: 65px;
  padding-bottom: 65px;
}

.p-65px-lr {
  padding-left: 65px;
  padding-right: 65px;
}

.p-65px-t {
  padding-top: 65px;
}

.p-65px-l {
  padding-left: 65px;
}

.p-65px-r {
  padding-right: 65px;
}

.p-65px-b {
  padding-bottom: 65px;
}

.m-70px {
  margin: 70px;
}

.m-70px-tb {
  margin-top: 70px;
  margin-bottom: 70px;
}

.m-70px-lr {
  margin-left: 70px;
  margin-right: 70px;
}

.m-70px-t {
  margin-top: 70px;
}

.m-70px-l {
  margin-left: 70px;
}

.m-70px-r {
  margin-right: 70px;
}

.m-70px-b {
  margin-bottom: 70px;
}

.p-70px {
  padding: 70px;
}

.p-70px-tb {
  padding-top: 70px;
  padding-bottom: 70px;
}

.p-70px-lr {
  padding-left: 70px;
  padding-right: 70px;
}

.p-70px-t {
  padding-top: 70px;
}

.p-70px-l {
  padding-left: 70px;
}

.p-70px-r {
  padding-right: 70px;
}

.p-70px-b {
  padding-bottom: 70px;
}

.m-75px {
  margin: 75px;
}

.m-75px-tb {
  margin-top: 75px;
  margin-bottom: 75px;
}

.m-75px-lr {
  margin-left: 75px;
  margin-right: 75px;
}

.m-75px-t {
  margin-top: 75px;
}

.m-75px-l {
  margin-left: 75px;
}

.m-75px-r {
  margin-right: 75px;
}

.m-75px-b {
  margin-bottom: 75px;
}

.p-75px {
  padding: 75px;
}

.p-75px-tb {
  padding-top: 75px;
  padding-bottom: 75px;
}

.p-75px-lr {
  padding-left: 75px;
  padding-right: 75px;
}

.p-75px-t {
  padding-top: 75px;
}

.p-75px-l {
  padding-left: 75px;
}

.p-75px-r {
  padding-right: 75px;
}

.p-75px-b {
  padding-bottom: 75px;
}

.m-80px {
  margin: 80px;
}

.m-80px-tb {
  margin-top: 80px;
  margin-bottom: 80px;
}

.m-80px-lr {
  margin-left: 80px;
  margin-right: 80px;
}

.m-80px-t {
  margin-top: 80px;
}

.m-80px-l {
  margin-left: 80px;
}

.m-80px-r {
  margin-right: 80px;
}

.m-80px-b {
  margin-bottom: 80px;
}

.p-80px {
  padding: 80px;
}

.p-80px-tb {
  padding-top: 80px;
  padding-bottom: 80px;
}

.p-80px-lr {
  padding-left: 80px;
  padding-right: 80px;
}

.p-80px-t {
  padding-top: 80px;
}

.p-80px-l {
  padding-left: 80px;
}

.p-80px-r {
  padding-right: 80px;
}

.p-80px-b {
  padding-bottom: 80px;
}

.m-85px {
  margin: 85px;
}

.m-85px-tb {
  margin-top: 85px;
  margin-bottom: 85px;
}

.m-85px-lr {
  margin-left: 85px;
  margin-right: 85px;
}

.m-85px-t {
  margin-top: 85px;
}

.m-85px-l {
  margin-left: 85px;
}

.m-85px-r {
  margin-right: 85px;
}

.m-85px-b {
  margin-bottom: 85px;
}

.p-85px {
  padding: 85px;
}

.p-85px-tb {
  padding-top: 85px;
  padding-bottom: 85px;
}

.p-85px-lr {
  padding-left: 85px;
  padding-right: 85px;
}

.p-85px-t {
  padding-top: 85px;
}

.p-85px-l {
  padding-left: 85px;
}

.p-85px-r {
  padding-right: 85px;
}

.p-85px-b {
  padding-bottom: 85px;
}

.m-90px {
  margin: 90px;
}

.m-90px-tb {
  margin-top: 90px;
  margin-bottom: 90px;
}

.m-90px-lr {
  margin-left: 90px;
  margin-right: 90px;
}

.m-90px-t {
  margin-top: 90px;
}

.m-90px-l {
  margin-left: 90px;
}

.m-90px-r {
  margin-right: 90px;
}

.m-90px-b {
  margin-bottom: 90px;
}

.p-90px {
  padding: 90px;
}

.p-90px-tb {
  padding-top: 90px;
  padding-bottom: 90px;
}

.p-90px-lr {
  padding-left: 90px;
  padding-right: 90px;
}

.p-90px-t {
  padding-top: 90px;
}

.p-90px-l {
  padding-left: 90px;
}

.p-90px-r {
  padding-right: 90px;
}

.p-90px-b {
  padding-bottom: 90px;
}

.m-95px {
  margin: 95px;
}

.m-95px-tb {
  margin-top: 95px;
  margin-bottom: 95px;
}

.m-95px-lr {
  margin-left: 95px;
  margin-right: 95px;
}

.m-95px-t {
  margin-top: 95px;
}

.m-95px-l {
  margin-left: 95px;
}

.m-95px-r {
  margin-right: 95px;
}

.m-95px-b {
  margin-bottom: 95px;
}

.p-95px {
  padding: 95px;
}

.p-95px-tb {
  padding-top: 95px;
  padding-bottom: 95px;
}

.p-95px-lr {
  padding-left: 95px;
  padding-right: 95px;
}

.p-95px-t {
  padding-top: 95px;
}

.p-95px-l {
  padding-left: 95px;
}

.p-95px-r {
  padding-right: 95px;
}

.p-95px-b {
  padding-bottom: 95px;
}

.m-100px {
  margin: 100px;
}

.m-100px-tb {
  margin-top: 100px;
  margin-bottom: 100px;
}

.m-100px-lr {
  margin-left: 100px;
  margin-right: 100px;
}

.m-100px-t {
  margin-top: 100px;
}

.m-100px-l {
  margin-left: 100px;
}

.m-100px-r {
  margin-right: 100px;
}

.m-100px-b {
  margin-bottom: 100px;
}

.p-100px {
  padding: 100px;
}

.p-100px-tb {
  padding-top: 100px;
  padding-bottom: 100px;
}

.p-100px-lr {
  padding-left: 100px;
  padding-right: 100px;
}

.p-100px-t {
  padding-top: 100px;
}

.p-100px-l {
  padding-left: 100px;
}

.p-100px-r {
  padding-right: 100px;
}

.p-100px-b {
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  /* Margin Padding
  --------------------*/
  .lg-m-0px {
    margin: 0px;
  }

  .lg-m-0px-tb {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .lg-m-0px-lr {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg-m-0px-t {
    margin-top: 0px;
  }

  .lg-m-0px-l {
    margin-left: 0px;
  }

  .lg-m-0px-r {
    margin-right: 0px;
  }

  .lg-m-0px-b {
    margin-bottom: 0px;
  }

  .lg-p-0px {
    padding: 0px;
  }

  .lg-p-0px-tb {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg-p-0px-lr {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg-p-0px-t {
    padding-top: 0px;
  }

  .lg-p-0px-l {
    padding-left: 0px;
  }

  .lg-p-0px-r {
    padding-right: 0px;
  }

  .lg-p-0px-b {
    padding-bottom: 0px;
  }

  .lg-m-5px {
    margin: 5px;
  }

  .lg-m-5px-tb {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .lg-m-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
  }

  .lg-m-5px-t {
    margin-top: 5px;
  }

  .lg-m-5px-l {
    margin-left: 5px;
  }

  .lg-m-5px-r {
    margin-right: 5px;
  }

  .lg-m-5px-b {
    margin-bottom: 5px;
  }

  .lg-p-5px {
    padding: 5px;
  }

  .lg-p-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .lg-p-5px-lr {
    padding-left: 5px;
    padding-right: 5px;
  }

  .lg-p-5px-t {
    padding-top: 5px;
  }

  .lg-p-5px-l {
    padding-left: 5px;
  }

  .lg-p-5px-r {
    padding-right: 5px;
  }

  .lg-p-5px-b {
    padding-bottom: 5px;
  }

  .lg-m-10px {
    margin: 10px;
  }

  .lg-m-10px-tb {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .lg-m-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
  }

  .lg-m-10px-t {
    margin-top: 10px;
  }

  .lg-m-10px-l {
    margin-left: 10px;
  }

  .lg-m-10px-r {
    margin-right: 10px;
  }

  .lg-m-10px-b {
    margin-bottom: 10px;
  }

  .lg-p-10px {
    padding: 10px;
  }

  .lg-p-10px-tb {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .lg-p-10px-lr {
    padding-left: 10px;
    padding-right: 10px;
  }

  .lg-p-10px-t {
    padding-top: 10px;
  }

  .lg-p-10px-l {
    padding-left: 10px;
  }

  .lg-p-10px-r {
    padding-right: 10px;
  }

  .lg-p-10px-b {
    padding-bottom: 10px;
  }

  .lg-m-15px {
    margin: 15px;
  }

  .lg-m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .lg-m-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
  }

  .lg-m-15px-t {
    margin-top: 15px;
  }

  .lg-m-15px-l {
    margin-left: 15px;
  }

  .lg-m-15px-r {
    margin-right: 15px;
  }

  .lg-m-15px-b {
    margin-bottom: 15px;
  }

  .lg-p-15px {
    padding: 15px;
  }

  .lg-p-15px-tb {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .lg-p-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
  }

  .lg-p-15px-t {
    padding-top: 15px;
  }

  .lg-p-15px-l {
    padding-left: 15px;
  }

  .lg-p-15px-r {
    padding-right: 15px;
  }

  .lg-p-15px-b {
    padding-bottom: 15px;
  }

  .lg-m-20px {
    margin: 20px;
  }

  .lg-m-20px-tb {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .lg-m-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
  }

  .lg-m-20px-t {
    margin-top: 20px;
  }

  .lg-m-20px-l {
    margin-left: 20px;
  }

  .lg-m-20px-r {
    margin-right: 20px;
  }

  .lg-m-20px-b {
    margin-bottom: 20px;
  }

  .lg-p-20px {
    padding: 20px;
  }

  .lg-p-20px-tb {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .lg-p-20px-lr {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lg-p-20px-t {
    padding-top: 20px;
  }

  .lg-p-20px-l {
    padding-left: 20px;
  }

  .lg-p-20px-r {
    padding-right: 20px;
  }

  .lg-p-20px-b {
    padding-bottom: 20px;
  }

  .lg-m-25px {
    margin: 25px;
  }

  .lg-m-25px-tb {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .lg-m-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
  }

  .lg-m-25px-t {
    margin-top: 25px;
  }

  .lg-m-25px-l {
    margin-left: 25px;
  }

  .lg-m-25px-r {
    margin-right: 25px;
  }

  .lg-m-25px-b {
    margin-bottom: 25px;
  }

  .lg-p-25px {
    padding: 25px;
  }

  .lg-p-25px-tb {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .lg-p-25px-lr {
    padding-left: 25px;
    padding-right: 25px;
  }

  .lg-p-25px-t {
    padding-top: 25px;
  }

  .lg-p-25px-l {
    padding-left: 25px;
  }

  .lg-p-25px-r {
    padding-right: 25px;
  }

  .lg-p-25px-b {
    padding-bottom: 25px;
  }

  .lg-m-30px {
    margin: 30px;
  }

  .lg-m-30px-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .lg-m-30px-lr {
    margin-left: 30px;
    margin-right: 30px;
  }

  .lg-m-30px-t {
    margin-top: 30px;
  }

  .lg-m-30px-l {
    margin-left: 30px;
  }

  .lg-m-30px-r {
    margin-right: 30px;
  }

  .lg-m-30px-b {
    margin-bottom: 30px;
  }

  .lg-p-30px {
    padding: 30px;
  }

  .lg-p-30px-tb {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .lg-p-30px-lr {
    padding-left: 30px;
    padding-right: 30px;
  }

  .lg-p-30px-t {
    padding-top: 30px;
  }

  .lg-p-30px-l {
    padding-left: 30px;
  }

  .lg-p-30px-r {
    padding-right: 30px;
  }

  .lg-p-30px-b {
    padding-bottom: 30px;
  }

  .lg-m-35px {
    margin: 35px;
  }

  .lg-m-35px-tb {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .lg-m-35px-lr {
    margin-left: 35px;
    margin-right: 35px;
  }

  .lg-m-35px-t {
    margin-top: 35px;
  }

  .lg-m-35px-l {
    margin-left: 35px;
  }

  .lg-m-35px-r {
    margin-right: 35px;
  }

  .lg-m-35px-b {
    margin-bottom: 35px;
  }

  .lg-p-35px {
    padding: 35px;
  }

  .lg-p-35px-tb {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .lg-p-35px-lr {
    padding-left: 35px;
    padding-right: 35px;
  }

  .lg-p-35px-t {
    padding-top: 35px;
  }

  .lg-p-35px-l {
    padding-left: 35px;
  }

  .lg-p-35px-r {
    padding-right: 35px;
  }

  .lg-p-35px-b {
    padding-bottom: 35px;
  }

  .lg-m-40px {
    margin: 40px;
  }

  .lg-m-40px-tb {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .lg-m-40px-lr {
    margin-left: 40px;
    margin-right: 40px;
  }

  .lg-m-40px-t {
    margin-top: 40px;
  }

  .lg-m-40px-l {
    margin-left: 40px;
  }

  .lg-m-40px-r {
    margin-right: 40px;
  }

  .lg-m-40px-b {
    margin-bottom: 40px;
  }

  .lg-p-40px {
    padding: 40px;
  }

  .lg-p-40px-tb {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .lg-p-40px-lr {
    padding-left: 40px;
    padding-right: 40px;
  }

  .lg-p-40px-t {
    padding-top: 40px;
  }

  .lg-p-40px-l {
    padding-left: 40px;
  }

  .lg-p-40px-r {
    padding-right: 40px;
  }

  .lg-p-40px-b {
    padding-bottom: 40px;
  }

  .lg-m-45px {
    margin: 45px;
  }

  .lg-m-45px-tb {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .lg-m-45px-lr {
    margin-left: 45px;
    margin-right: 45px;
  }

  .lg-m-45px-t {
    margin-top: 45px;
  }

  .lg-m-45px-l {
    margin-left: 45px;
  }

  .lg-m-45px-r {
    margin-right: 45px;
  }

  .lg-m-45px-b {
    margin-bottom: 45px;
  }

  .lg-p-45px {
    padding: 45px;
  }

  .lg-p-45px-tb {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .lg-p-45px-lr {
    padding-left: 45px;
    padding-right: 45px;
  }

  .lg-p-45px-t {
    padding-top: 45px;
  }

  .lg-p-45px-l {
    padding-left: 45px;
  }

  .lg-p-45px-r {
    padding-right: 45px;
  }

  .lg-p-45px-b {
    padding-bottom: 45px;
  }

  .lg-m-50px {
    margin: 50px;
  }

  .lg-m-50px-tb {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .lg-m-50px-lr {
    margin-left: 50px;
    margin-right: 50px;
  }

  .lg-m-50px-t {
    margin-top: 50px;
  }

  .lg-m-50px-l {
    margin-left: 50px;
  }

  .lg-m-50px-r {
    margin-right: 50px;
  }

  .lg-m-50px-b {
    margin-bottom: 50px;
  }

  .lg-p-50px {
    padding: 50px;
  }

  .lg-p-50px-tb {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .lg-p-50px-lr {
    padding-left: 50px;
    padding-right: 50px;
  }

  .lg-p-50px-t {
    padding-top: 50px;
  }

  .lg-p-50px-l {
    padding-left: 50px;
  }

  .lg-p-50px-r {
    padding-right: 50px;
  }

  .lg-p-50px-b {
    padding-bottom: 50px;
  }

  .lg-m-55px {
    margin: 55px;
  }

  .lg-m-55px-tb {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .lg-m-55px-lr {
    margin-left: 55px;
    margin-right: 55px;
  }

  .lg-m-55px-t {
    margin-top: 55px;
  }

  .lg-m-55px-l {
    margin-left: 55px;
  }

  .lg-m-55px-r {
    margin-right: 55px;
  }

  .lg-m-55px-b {
    margin-bottom: 55px;
  }

  .lg-p-55px {
    padding: 55px;
  }

  .lg-p-55px-tb {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .lg-p-55px-lr {
    padding-left: 55px;
    padding-right: 55px;
  }

  .lg-p-55px-t {
    padding-top: 55px;
  }

  .lg-p-55px-l {
    padding-left: 55px;
  }

  .lg-p-55px-r {
    padding-right: 55px;
  }

  .lg-p-55px-b {
    padding-bottom: 55px;
  }

  .lg-m-60px {
    margin: 60px;
  }

  .lg-m-60px-tb {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .lg-m-60px-lr {
    margin-left: 60px;
    margin-right: 60px;
  }

  .lg-m-60px-t {
    margin-top: 60px;
  }

  .lg-m-60px-l {
    margin-left: 60px;
  }

  .lg-m-60px-r {
    margin-right: 60px;
  }

  .lg-m-60px-b {
    margin-bottom: 60px;
  }

  .lg-p-60px {
    padding: 60px;
  }

  .lg-p-60px-tb {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lg-p-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
  }

  .lg-p-60px-t {
    padding-top: 60px;
  }

  .lg-p-60px-l {
    padding-left: 60px;
  }

  .lg-p-60px-r {
    padding-right: 60px;
  }

  .lg-p-60px-b {
    padding-bottom: 60px;
  }

  .lg-m-65px {
    margin: 65px;
  }

  .lg-m-65px-tb {
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .lg-m-65px-lr {
    margin-left: 65px;
    margin-right: 65px;
  }

  .lg-m-65px-t {
    margin-top: 65px;
  }

  .lg-m-65px-l {
    margin-left: 65px;
  }

  .lg-m-65px-r {
    margin-right: 65px;
  }

  .lg-m-65px-b {
    margin-bottom: 65px;
  }

  .lg-p-65px {
    padding: 65px;
  }

  .lg-p-65px-tb {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .lg-p-65px-lr {
    padding-left: 65px;
    padding-right: 65px;
  }

  .lg-p-65px-t {
    padding-top: 65px;
  }

  .lg-p-65px-l {
    padding-left: 65px;
  }

  .lg-p-65px-r {
    padding-right: 65px;
  }

  .lg-p-65px-b {
    padding-bottom: 65px;
  }

  .lg-m-70px {
    margin: 70px;
  }

  .lg-m-70px-tb {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .lg-m-70px-lr {
    margin-left: 70px;
    margin-right: 70px;
  }

  .lg-m-70px-t {
    margin-top: 70px;
  }

  .lg-m-70px-l {
    margin-left: 70px;
  }

  .lg-m-70px-r {
    margin-right: 70px;
  }

  .lg-m-70px-b {
    margin-bottom: 70px;
  }

  .lg-p-70px {
    padding: 70px;
  }

  .lg-p-70px-tb {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .lg-p-70px-lr {
    padding-left: 70px;
    padding-right: 70px;
  }

  .lg-p-70px-t {
    padding-top: 70px;
  }

  .lg-p-70px-l {
    padding-left: 70px;
  }

  .lg-p-70px-r {
    padding-right: 70px;
  }

  .lg-p-70px-b {
    padding-bottom: 70px;
  }

  .lg-m-75px {
    margin: 75px;
  }

  .lg-m-75px-tb {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .lg-m-75px-lr {
    margin-left: 75px;
    margin-right: 75px;
  }

  .lg-m-75px-t {
    margin-top: 75px;
  }

  .lg-m-75px-l {
    margin-left: 75px;
  }

  .lg-m-75px-r {
    margin-right: 75px;
  }

  .lg-m-75px-b {
    margin-bottom: 75px;
  }

  .lg-p-75px {
    padding: 75px;
  }

  .lg-p-75px-tb {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .lg-p-75px-lr {
    padding-left: 75px;
    padding-right: 75px;
  }

  .lg-p-75px-t {
    padding-top: 75px;
  }

  .lg-p-75px-l {
    padding-left: 75px;
  }

  .lg-p-75px-r {
    padding-right: 75px;
  }

  .lg-p-75px-b {
    padding-bottom: 75px;
  }

  .lg-m-80px {
    margin: 80px;
  }

  .lg-m-80px-tb {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .lg-m-80px-lr {
    margin-left: 80px;
    margin-right: 80px;
  }

  .lg-m-80px-t {
    margin-top: 80px;
  }

  .lg-m-80px-l {
    margin-left: 80px;
  }

  .lg-m-80px-r {
    margin-right: 80px;
  }

  .lg-m-80px-b {
    margin-bottom: 80px;
  }

  .lg-p-80px {
    padding: 80px;
  }

  .lg-p-80px-tb {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .lg-p-80px-lr {
    padding-left: 80px;
    padding-right: 80px;
  }

  .lg-p-80px-t {
    padding-top: 80px;
  }

  .lg-p-80px-l {
    padding-left: 80px;
  }

  .lg-p-80px-r {
    padding-right: 80px;
  }

  .lg-p-80px-b {
    padding-bottom: 80px;
  }

  .lg-m-85px {
    margin: 85px;
  }

  .lg-m-85px-tb {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  .lg-m-85px-lr {
    margin-left: 85px;
    margin-right: 85px;
  }

  .lg-m-85px-t {
    margin-top: 85px;
  }

  .lg-m-85px-l {
    margin-left: 85px;
  }

  .lg-m-85px-r {
    margin-right: 85px;
  }

  .lg-m-85px-b {
    margin-bottom: 85px;
  }

  .lg-p-85px {
    padding: 85px;
  }

  .lg-p-85px-tb {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .lg-p-85px-lr {
    padding-left: 85px;
    padding-right: 85px;
  }

  .lg-p-85px-t {
    padding-top: 85px;
  }

  .lg-p-85px-l {
    padding-left: 85px;
  }

  .lg-p-85px-r {
    padding-right: 85px;
  }

  .lg-p-85px-b {
    padding-bottom: 85px;
  }

  .lg-m-90px {
    margin: 90px;
  }

  .lg-m-90px-tb {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .lg-m-90px-lr {
    margin-left: 90px;
    margin-right: 90px;
  }

  .lg-m-90px-t {
    margin-top: 90px;
  }

  .lg-m-90px-l {
    margin-left: 90px;
  }

  .lg-m-90px-r {
    margin-right: 90px;
  }

  .lg-m-90px-b {
    margin-bottom: 90px;
  }

  .lg-p-90px {
    padding: 90px;
  }

  .lg-p-90px-tb {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .lg-p-90px-lr {
    padding-left: 90px;
    padding-right: 90px;
  }

  .lg-p-90px-t {
    padding-top: 90px;
  }

  .lg-p-90px-l {
    padding-left: 90px;
  }

  .lg-p-90px-r {
    padding-right: 90px;
  }

  .lg-p-90px-b {
    padding-bottom: 90px;
  }

  .lg-m-95px {
    margin: 95px;
  }

  .lg-m-95px-tb {
    margin-top: 95px;
    margin-bottom: 95px;
  }

  .lg-m-95px-lr {
    margin-left: 95px;
    margin-right: 95px;
  }

  .lg-m-95px-t {
    margin-top: 95px;
  }

  .lg-m-95px-l {
    margin-left: 95px;
  }

  .lg-m-95px-r {
    margin-right: 95px;
  }

  .lg-m-95px-b {
    margin-bottom: 95px;
  }

  .lg-p-95px {
    padding: 95px;
  }

  .lg-p-95px-tb {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .lg-p-95px-lr {
    padding-left: 95px;
    padding-right: 95px;
  }

  .lg-p-95px-t {
    padding-top: 95px;
  }

  .lg-p-95px-l {
    padding-left: 95px;
  }

  .lg-p-95px-r {
    padding-right: 95px;
  }

  .lg-p-95px-b {
    padding-bottom: 95px;
  }

  .lg-m-100px {
    margin: 100px;
  }

  .lg-m-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .lg-m-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
  }

  .lg-m-100px-t {
    margin-top: 100px;
  }

  .lg-m-100px-l {
    margin-left: 100px;
  }

  .lg-m-100px-r {
    margin-right: 100px;
  }

  .lg-m-100px-b {
    margin-bottom: 100px;
  }

  .lg-p-100px {
    padding: 100px;
  }

  .lg-p-100px-tb {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .lg-p-100px-lr {
    padding-left: 100px;
    padding-right: 100px;
  }

  .lg-p-100px-t {
    padding-top: 100px;
  }

  .lg-p-100px-l {
    padding-left: 100px;
  }

  .lg-p-100px-r {
    padding-right: 100px;
  }

  .lg-p-100px-b {
    padding-bottom: 100px;
  }
}
@media (max-width: 991px) {
  /* Margin Padding
  --------------------*/
  .md-m-0px {
    margin: 0px;
  }

  .md-m-0px-tb {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .md-m-0px-lr {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md-m-0px-t {
    margin-top: 0px;
  }

  .md-m-0px-l {
    margin-left: 0px;
  }

  .md-m-0px-r {
    margin-right: 0px;
  }

  .md-m-0px-b {
    margin-bottom: 0px;
  }

  .md-p-0px {
    padding: 0px;
  }

  .md-p-0px-tb {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md-p-0px-lr {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md-p-0px-t {
    padding-top: 0px;
  }

  .md-p-0px-l {
    padding-left: 0px;
  }

  .md-p-0px-r {
    padding-right: 0px;
  }

  .md-p-0px-b {
    padding-bottom: 0px;
  }

  .md-m-5px {
    margin: 5px;
  }

  .md-m-5px-tb {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .md-m-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
  }

  .md-m-5px-t {
    margin-top: 5px;
  }

  .md-m-5px-l {
    margin-left: 5px;
  }

  .md-m-5px-r {
    margin-right: 5px;
  }

  .md-m-5px-b {
    margin-bottom: 5px;
  }

  .md-p-5px {
    padding: 5px;
  }

  .md-p-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .md-p-5px-lr {
    padding-left: 5px;
    padding-right: 5px;
  }

  .md-p-5px-t {
    padding-top: 5px;
  }

  .md-p-5px-l {
    padding-left: 5px;
  }

  .md-p-5px-r {
    padding-right: 5px;
  }

  .md-p-5px-b {
    padding-bottom: 5px;
  }

  .md-m-10px {
    margin: 10px;
  }

  .md-m-10px-tb {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .md-m-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
  }

  .md-m-10px-t {
    margin-top: 10px;
  }

  .md-m-10px-l {
    margin-left: 10px;
  }

  .md-m-10px-r {
    margin-right: 10px;
  }

  .md-m-10px-b {
    margin-bottom: 10px;
  }

  .md-p-10px {
    padding: 10px;
  }

  .md-p-10px-tb {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .md-p-10px-lr {
    padding-left: 10px;
    padding-right: 10px;
  }

  .md-p-10px-t {
    padding-top: 10px;
  }

  .md-p-10px-l {
    padding-left: 10px;
  }

  .md-p-10px-r {
    padding-right: 10px;
  }

  .md-p-10px-b {
    padding-bottom: 10px;
  }

  .md-m-15px {
    margin: 15px;
  }

  .md-m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .md-m-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
  }

  .md-m-15px-t {
    margin-top: 15px;
  }

  .md-m-15px-l {
    margin-left: 15px;
  }

  .md-m-15px-r {
    margin-right: 15px;
  }

  .md-m-15px-b {
    margin-bottom: 15px;
  }

  .md-p-15px {
    padding: 15px;
  }

  .md-p-15px-tb {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .md-p-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
  }

  .md-p-15px-t {
    padding-top: 15px;
  }

  .md-p-15px-l {
    padding-left: 15px;
  }

  .md-p-15px-r {
    padding-right: 15px;
  }

  .md-p-15px-b {
    padding-bottom: 15px;
  }

  .md-m-20px {
    margin: 20px;
  }

  .md-m-20px-tb {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .md-m-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
  }

  .md-m-20px-t {
    margin-top: 20px;
  }

  .md-m-20px-l {
    margin-left: 20px;
  }

  .md-m-20px-r {
    margin-right: 20px;
  }

  .md-m-20px-b {
    margin-bottom: 20px;
  }

  .md-p-20px {
    padding: 20px;
  }

  .md-p-20px-tb {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .md-p-20px-lr {
    padding-left: 20px;
    padding-right: 20px;
  }

  .md-p-20px-t {
    padding-top: 20px;
  }

  .md-p-20px-l {
    padding-left: 20px;
  }

  .md-p-20px-r {
    padding-right: 20px;
  }

  .md-p-20px-b {
    padding-bottom: 20px;
  }

  .md-m-25px {
    margin: 25px;
  }

  .md-m-25px-tb {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .md-m-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
  }

  .md-m-25px-t {
    margin-top: 25px;
  }

  .md-m-25px-l {
    margin-left: 25px;
  }

  .md-m-25px-r {
    margin-right: 25px;
  }

  .md-m-25px-b {
    margin-bottom: 25px;
  }

  .md-p-25px {
    padding: 25px;
  }

  .md-p-25px-tb {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .md-p-25px-lr {
    padding-left: 25px;
    padding-right: 25px;
  }

  .md-p-25px-t {
    padding-top: 25px;
  }

  .md-p-25px-l {
    padding-left: 25px;
  }

  .md-p-25px-r {
    padding-right: 25px;
  }

  .md-p-25px-b {
    padding-bottom: 25px;
  }

  .md-m-30px {
    margin: 30px;
  }

  .md-m-30px-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .md-m-30px-lr {
    margin-left: 30px;
    margin-right: 30px;
  }

  .md-m-30px-t {
    margin-top: 30px;
  }

  .md-m-30px-l {
    margin-left: 30px;
  }

  .md-m-30px-r {
    margin-right: 30px;
  }

  .md-m-30px-b {
    margin-bottom: 30px;
  }

  .md-p-30px {
    padding: 30px;
  }

  .md-p-30px-tb {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .md-p-30px-lr {
    padding-left: 30px;
    padding-right: 30px;
  }

  .md-p-30px-t {
    padding-top: 30px;
  }

  .md-p-30px-l {
    padding-left: 30px;
  }

  .md-p-30px-r {
    padding-right: 30px;
  }

  .md-p-30px-b {
    padding-bottom: 30px;
  }

  .md-m-35px {
    margin: 35px;
  }

  .md-m-35px-tb {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .md-m-35px-lr {
    margin-left: 35px;
    margin-right: 35px;
  }

  .md-m-35px-t {
    margin-top: 35px;
  }

  .md-m-35px-l {
    margin-left: 35px;
  }

  .md-m-35px-r {
    margin-right: 35px;
  }

  .md-m-35px-b {
    margin-bottom: 35px;
  }

  .md-p-35px {
    padding: 35px;
  }

  .md-p-35px-tb {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .md-p-35px-lr {
    padding-left: 35px;
    padding-right: 35px;
  }

  .md-p-35px-t {
    padding-top: 35px;
  }

  .md-p-35px-l {
    padding-left: 35px;
  }

  .md-p-35px-r {
    padding-right: 35px;
  }

  .md-p-35px-b {
    padding-bottom: 35px;
  }

  .md-m-40px {
    margin: 40px;
  }

  .md-m-40px-tb {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .md-m-40px-lr {
    margin-left: 40px;
    margin-right: 40px;
  }

  .md-m-40px-t {
    margin-top: 40px;
  }

  .md-m-40px-l {
    margin-left: 40px;
  }

  .md-m-40px-r {
    margin-right: 40px;
  }

  .md-m-40px-b {
    margin-bottom: 40px;
  }

  .md-p-40px {
    padding: 40px;
  }

  .md-p-40px-tb {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .md-p-40px-lr {
    padding-left: 40px;
    padding-right: 40px;
  }

  .md-p-40px-t {
    padding-top: 40px;
  }

  .md-p-40px-l {
    padding-left: 40px;
  }

  .md-p-40px-r {
    padding-right: 40px;
  }

  .md-p-40px-b {
    padding-bottom: 40px;
  }

  .md-m-45px {
    margin: 45px;
  }

  .md-m-45px-tb {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .md-m-45px-lr {
    margin-left: 45px;
    margin-right: 45px;
  }

  .md-m-45px-t {
    margin-top: 45px;
  }

  .md-m-45px-l {
    margin-left: 45px;
  }

  .md-m-45px-r {
    margin-right: 45px;
  }

  .md-m-45px-b {
    margin-bottom: 45px;
  }

  .md-p-45px {
    padding: 45px;
  }

  .md-p-45px-tb {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .md-p-45px-lr {
    padding-left: 45px;
    padding-right: 45px;
  }

  .md-p-45px-t {
    padding-top: 45px;
  }

  .md-p-45px-l {
    padding-left: 45px;
  }

  .md-p-45px-r {
    padding-right: 45px;
  }

  .md-p-45px-b {
    padding-bottom: 45px;
  }

  .md-m-50px {
    margin: 50px;
  }

  .md-m-50px-tb {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .md-m-50px-lr {
    margin-left: 50px;
    margin-right: 50px;
  }

  .md-m-50px-t {
    margin-top: 50px;
  }

  .md-m-50px-l {
    margin-left: 50px;
  }

  .md-m-50px-r {
    margin-right: 50px;
  }

  .md-m-50px-b {
    margin-bottom: 50px;
  }

  .md-p-50px {
    padding: 50px;
  }

  .md-p-50px-tb {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .md-p-50px-lr {
    padding-left: 50px;
    padding-right: 50px;
  }

  .md-p-50px-t {
    padding-top: 50px;
  }

  .md-p-50px-l {
    padding-left: 50px;
  }

  .md-p-50px-r {
    padding-right: 50px;
  }

  .md-p-50px-b {
    padding-bottom: 50px;
  }

  .md-m-55px {
    margin: 55px;
  }

  .md-m-55px-tb {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .md-m-55px-lr {
    margin-left: 55px;
    margin-right: 55px;
  }

  .md-m-55px-t {
    margin-top: 55px;
  }

  .md-m-55px-l {
    margin-left: 55px;
  }

  .md-m-55px-r {
    margin-right: 55px;
  }

  .md-m-55px-b {
    margin-bottom: 55px;
  }

  .md-p-55px {
    padding: 55px;
  }

  .md-p-55px-tb {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .md-p-55px-lr {
    padding-left: 55px;
    padding-right: 55px;
  }

  .md-p-55px-t {
    padding-top: 55px;
  }

  .md-p-55px-l {
    padding-left: 55px;
  }

  .md-p-55px-r {
    padding-right: 55px;
  }

  .md-p-55px-b {
    padding-bottom: 55px;
  }

  .md-m-60px {
    margin: 60px;
  }

  .md-m-60px-tb {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .md-m-60px-lr {
    margin-left: 60px;
    margin-right: 60px;
  }

  .md-m-60px-t {
    margin-top: 60px;
  }

  .md-m-60px-l {
    margin-left: 60px;
  }

  .md-m-60px-r {
    margin-right: 60px;
  }

  .md-m-60px-b {
    margin-bottom: 60px;
  }

  .md-p-60px {
    padding: 60px;
  }

  .md-p-60px-tb {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .md-p-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
  }

  .md-p-60px-t {
    padding-top: 60px;
  }

  .md-p-60px-l {
    padding-left: 60px;
  }

  .md-p-60px-r {
    padding-right: 60px;
  }

  .md-p-60px-b {
    padding-bottom: 60px;
  }

  .md-m-65px {
    margin: 65px;
  }

  .md-m-65px-tb {
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .md-m-65px-lr {
    margin-left: 65px;
    margin-right: 65px;
  }

  .md-m-65px-t {
    margin-top: 65px;
  }

  .md-m-65px-l {
    margin-left: 65px;
  }

  .md-m-65px-r {
    margin-right: 65px;
  }

  .md-m-65px-b {
    margin-bottom: 65px;
  }

  .md-p-65px {
    padding: 65px;
  }

  .md-p-65px-tb {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .md-p-65px-lr {
    padding-left: 65px;
    padding-right: 65px;
  }

  .md-p-65px-t {
    padding-top: 65px;
  }

  .md-p-65px-l {
    padding-left: 65px;
  }

  .md-p-65px-r {
    padding-right: 65px;
  }

  .md-p-65px-b {
    padding-bottom: 65px;
  }

  .md-m-70px {
    margin: 70px;
  }

  .md-m-70px-tb {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .md-m-70px-lr {
    margin-left: 70px;
    margin-right: 70px;
  }

  .md-m-70px-t {
    margin-top: 70px;
  }

  .md-m-70px-l {
    margin-left: 70px;
  }

  .md-m-70px-r {
    margin-right: 70px;
  }

  .md-m-70px-b {
    margin-bottom: 70px;
  }

  .md-p-70px {
    padding: 70px;
  }

  .md-p-70px-tb {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .md-p-70px-lr {
    padding-left: 70px;
    padding-right: 70px;
  }

  .md-p-70px-t {
    padding-top: 70px;
  }

  .md-p-70px-l {
    padding-left: 70px;
  }

  .md-p-70px-r {
    padding-right: 70px;
  }

  .md-p-70px-b {
    padding-bottom: 70px;
  }

  .md-m-75px {
    margin: 75px;
  }

  .md-m-75px-tb {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .md-m-75px-lr {
    margin-left: 75px;
    margin-right: 75px;
  }

  .md-m-75px-t {
    margin-top: 75px;
  }

  .md-m-75px-l {
    margin-left: 75px;
  }

  .md-m-75px-r {
    margin-right: 75px;
  }

  .md-m-75px-b {
    margin-bottom: 75px;
  }

  .md-p-75px {
    padding: 75px;
  }

  .md-p-75px-tb {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .md-p-75px-lr {
    padding-left: 75px;
    padding-right: 75px;
  }

  .md-p-75px-t {
    padding-top: 75px;
  }

  .md-p-75px-l {
    padding-left: 75px;
  }

  .md-p-75px-r {
    padding-right: 75px;
  }

  .md-p-75px-b {
    padding-bottom: 75px;
  }

  .md-m-80px {
    margin: 80px;
  }

  .md-m-80px-tb {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .md-m-80px-lr {
    margin-left: 80px;
    margin-right: 80px;
  }

  .md-m-80px-t {
    margin-top: 80px;
  }

  .md-m-80px-l {
    margin-left: 80px;
  }

  .md-m-80px-r {
    margin-right: 80px;
  }

  .md-m-80px-b {
    margin-bottom: 80px;
  }

  .md-p-80px {
    padding: 80px;
  }

  .md-p-80px-tb {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .md-p-80px-lr {
    padding-left: 80px;
    padding-right: 80px;
  }

  .md-p-80px-t {
    padding-top: 80px;
  }

  .md-p-80px-l {
    padding-left: 80px;
  }

  .md-p-80px-r {
    padding-right: 80px;
  }

  .md-p-80px-b {
    padding-bottom: 80px;
  }

  .md-m-85px {
    margin: 85px;
  }

  .md-m-85px-tb {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  .md-m-85px-lr {
    margin-left: 85px;
    margin-right: 85px;
  }

  .md-m-85px-t {
    margin-top: 85px;
  }

  .md-m-85px-l {
    margin-left: 85px;
  }

  .md-m-85px-r {
    margin-right: 85px;
  }

  .md-m-85px-b {
    margin-bottom: 85px;
  }

  .md-p-85px {
    padding: 85px;
  }

  .md-p-85px-tb {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .md-p-85px-lr {
    padding-left: 85px;
    padding-right: 85px;
  }

  .md-p-85px-t {
    padding-top: 85px;
  }

  .md-p-85px-l {
    padding-left: 85px;
  }

  .md-p-85px-r {
    padding-right: 85px;
  }

  .md-p-85px-b {
    padding-bottom: 85px;
  }

  .md-m-90px {
    margin: 90px;
  }

  .md-m-90px-tb {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .md-m-90px-lr {
    margin-left: 90px;
    margin-right: 90px;
  }

  .md-m-90px-t {
    margin-top: 90px;
  }

  .md-m-90px-l {
    margin-left: 90px;
  }

  .md-m-90px-r {
    margin-right: 90px;
  }

  .md-m-90px-b {
    margin-bottom: 90px;
  }

  .md-p-90px {
    padding: 90px;
  }

  .md-p-90px-tb {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .md-p-90px-lr {
    padding-left: 90px;
    padding-right: 90px;
  }

  .md-p-90px-t {
    padding-top: 90px;
  }

  .md-p-90px-l {
    padding-left: 90px;
  }

  .md-p-90px-r {
    padding-right: 90px;
  }

  .md-p-90px-b {
    padding-bottom: 90px;
  }

  .md-m-95px {
    margin: 95px;
  }

  .md-m-95px-tb {
    margin-top: 95px;
    margin-bottom: 95px;
  }

  .md-m-95px-lr {
    margin-left: 95px;
    margin-right: 95px;
  }

  .md-m-95px-t {
    margin-top: 95px;
  }

  .md-m-95px-l {
    margin-left: 95px;
  }

  .md-m-95px-r {
    margin-right: 95px;
  }

  .md-m-95px-b {
    margin-bottom: 95px;
  }

  .md-p-95px {
    padding: 95px;
  }

  .md-p-95px-tb {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .md-p-95px-lr {
    padding-left: 95px;
    padding-right: 95px;
  }

  .md-p-95px-t {
    padding-top: 95px;
  }

  .md-p-95px-l {
    padding-left: 95px;
  }

  .md-p-95px-r {
    padding-right: 95px;
  }

  .md-p-95px-b {
    padding-bottom: 95px;
  }

  .md-m-100px {
    margin: 100px;
  }

  .md-m-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .md-m-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
  }

  .md-m-100px-t {
    margin-top: 100px;
  }

  .md-m-100px-l {
    margin-left: 100px;
  }

  .md-m-100px-r {
    margin-right: 100px;
  }

  .md-m-100px-b {
    margin-bottom: 100px;
  }

  .md-p-100px {
    padding: 100px;
  }

  .md-p-100px-tb {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .md-p-100px-lr {
    padding-left: 100px;
    padding-right: 100px;
  }

  .md-p-100px-t {
    padding-top: 100px;
  }

  .md-p-100px-l {
    padding-left: 100px;
  }

  .md-p-100px-r {
    padding-right: 100px;
  }

  .md-p-100px-b {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  /* Margin Padding
  --------------------*/
  .sm-m-0px {
    margin: 0px;
  }

  .sm-m-0px-tb {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sm-m-0px-lr {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sm-m-0px-t {
    margin-top: 0px;
  }

  .sm-m-0px-l {
    margin-left: 0px;
  }

  .sm-m-0px-r {
    margin-right: 0px;
  }

  .sm-m-0px-b {
    margin-bottom: 0px;
  }

  .sm-p-0px {
    padding: 0px;
  }

  .sm-p-0px-tb {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .sm-p-0px-lr {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm-p-0px-t {
    padding-top: 0px;
  }

  .sm-p-0px-l {
    padding-left: 0px;
  }

  .sm-p-0px-r {
    padding-right: 0px;
  }

  .sm-p-0px-b {
    padding-bottom: 0px;
  }

  .sm-m-5px {
    margin: 5px;
  }

  .sm-m-5px-tb {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .sm-m-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
  }

  .sm-m-5px-t {
    margin-top: 5px;
  }

  .sm-m-5px-l {
    margin-left: 5px;
  }

  .sm-m-5px-r {
    margin-right: 5px;
  }

  .sm-m-5px-b {
    margin-bottom: 5px;
  }

  .sm-p-5px {
    padding: 5px;
  }

  .sm-p-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .sm-p-5px-lr {
    padding-left: 5px;
    padding-right: 5px;
  }

  .sm-p-5px-t {
    padding-top: 5px;
  }

  .sm-p-5px-l {
    padding-left: 5px;
  }

  .sm-p-5px-r {
    padding-right: 5px;
  }

  .sm-p-5px-b {
    padding-bottom: 5px;
  }

  .sm-m-10px {
    margin: 10px;
  }

  .sm-m-10px-tb {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sm-m-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sm-m-10px-t {
    margin-top: 10px;
  }

  .sm-m-10px-l {
    margin-left: 10px;
  }

  .sm-m-10px-r {
    margin-right: 10px;
  }

  .sm-m-10px-b {
    margin-bottom: 10px;
  }

  .sm-p-10px {
    padding: 10px;
  }

  .sm-p-10px-tb {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sm-p-10px-lr {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sm-p-10px-t {
    padding-top: 10px;
  }

  .sm-p-10px-l {
    padding-left: 10px;
  }

  .sm-p-10px-r {
    padding-right: 10px;
  }

  .sm-p-10px-b {
    padding-bottom: 10px;
  }

  .sm-m-15px {
    margin: 15px;
  }

  .sm-m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sm-m-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
  }

  .sm-m-15px-t {
    margin-top: 15px;
  }

  .sm-m-15px-l {
    margin-left: 15px;
  }

  .sm-m-15px-r {
    margin-right: 15px;
  }

  .sm-m-15px-b {
    margin-bottom: 15px;
  }

  .sm-p-15px {
    padding: 15px;
  }

  .sm-p-15px-tb {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sm-p-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sm-p-15px-t {
    padding-top: 15px;
  }

  .sm-p-15px-l {
    padding-left: 15px;
  }

  .sm-p-15px-r {
    padding-right: 15px;
  }

  .sm-p-15px-b {
    padding-bottom: 15px;
  }

  .sm-m-20px {
    margin: 20px;
  }

  .sm-m-20px-tb {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sm-m-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
  }

  .sm-m-20px-t {
    margin-top: 20px;
  }

  .sm-m-20px-l {
    margin-left: 20px;
  }

  .sm-m-20px-r {
    margin-right: 20px;
  }

  .sm-m-20px-b {
    margin-bottom: 20px;
  }

  .sm-p-20px {
    padding: 20px;
  }

  .sm-p-20px-tb {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sm-p-20px-lr {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sm-p-20px-t {
    padding-top: 20px;
  }

  .sm-p-20px-l {
    padding-left: 20px;
  }

  .sm-p-20px-r {
    padding-right: 20px;
  }

  .sm-p-20px-b {
    padding-bottom: 20px;
  }

  .sm-m-25px {
    margin: 25px;
  }

  .sm-m-25px-tb {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .sm-m-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
  }

  .sm-m-25px-t {
    margin-top: 25px;
  }

  .sm-m-25px-l {
    margin-left: 25px;
  }

  .sm-m-25px-r {
    margin-right: 25px;
  }

  .sm-m-25px-b {
    margin-bottom: 25px;
  }

  .sm-p-25px {
    padding: 25px;
  }

  .sm-p-25px-tb {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .sm-p-25px-lr {
    padding-left: 25px;
    padding-right: 25px;
  }

  .sm-p-25px-t {
    padding-top: 25px;
  }

  .sm-p-25px-l {
    padding-left: 25px;
  }

  .sm-p-25px-r {
    padding-right: 25px;
  }

  .sm-p-25px-b {
    padding-bottom: 25px;
  }

  .sm-m-30px {
    margin: 30px;
  }

  .sm-m-30px-tb {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sm-m-30px-lr {
    margin-left: 30px;
    margin-right: 30px;
  }

  .sm-m-30px-t {
    margin-top: 30px;
  }

  .sm-m-30px-l {
    margin-left: 30px;
  }

  .sm-m-30px-r {
    margin-right: 30px;
  }

  .sm-m-30px-b {
    margin-bottom: 30px;
  }

  .sm-p-30px {
    padding: 30px;
  }

  .sm-p-30px-tb {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sm-p-30px-lr {
    padding-left: 30px;
    padding-right: 30px;
  }

  .sm-p-30px-t {
    padding-top: 30px;
  }

  .sm-p-30px-l {
    padding-left: 30px;
  }

  .sm-p-30px-r {
    padding-right: 30px;
  }

  .sm-p-30px-b {
    padding-bottom: 30px;
  }

  .sm-m-35px {
    margin: 35px;
  }

  .sm-m-35px-tb {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .sm-m-35px-lr {
    margin-left: 35px;
    margin-right: 35px;
  }

  .sm-m-35px-t {
    margin-top: 35px;
  }

  .sm-m-35px-l {
    margin-left: 35px;
  }

  .sm-m-35px-r {
    margin-right: 35px;
  }

  .sm-m-35px-b {
    margin-bottom: 35px;
  }

  .sm-p-35px {
    padding: 35px;
  }

  .sm-p-35px-tb {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .sm-p-35px-lr {
    padding-left: 35px;
    padding-right: 35px;
  }

  .sm-p-35px-t {
    padding-top: 35px;
  }

  .sm-p-35px-l {
    padding-left: 35px;
  }

  .sm-p-35px-r {
    padding-right: 35px;
  }

  .sm-p-35px-b {
    padding-bottom: 35px;
  }

  .sm-m-40px {
    margin: 40px;
  }

  .sm-m-40px-tb {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .sm-m-40px-lr {
    margin-left: 40px;
    margin-right: 40px;
  }

  .sm-m-40px-t {
    margin-top: 40px;
  }

  .sm-m-40px-l {
    margin-left: 40px;
  }

  .sm-m-40px-r {
    margin-right: 40px;
  }

  .sm-m-40px-b {
    margin-bottom: 40px;
  }

  .sm-p-40px {
    padding: 40px;
  }

  .sm-p-40px-tb {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sm-p-40px-lr {
    padding-left: 40px;
    padding-right: 40px;
  }

  .sm-p-40px-t {
    padding-top: 40px;
  }

  .sm-p-40px-l {
    padding-left: 40px;
  }

  .sm-p-40px-r {
    padding-right: 40px;
  }

  .sm-p-40px-b {
    padding-bottom: 40px;
  }

  .sm-m-45px {
    margin: 45px;
  }

  .sm-m-45px-tb {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .sm-m-45px-lr {
    margin-left: 45px;
    margin-right: 45px;
  }

  .sm-m-45px-t {
    margin-top: 45px;
  }

  .sm-m-45px-l {
    margin-left: 45px;
  }

  .sm-m-45px-r {
    margin-right: 45px;
  }

  .sm-m-45px-b {
    margin-bottom: 45px;
  }

  .sm-p-45px {
    padding: 45px;
  }

  .sm-p-45px-tb {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .sm-p-45px-lr {
    padding-left: 45px;
    padding-right: 45px;
  }

  .sm-p-45px-t {
    padding-top: 45px;
  }

  .sm-p-45px-l {
    padding-left: 45px;
  }

  .sm-p-45px-r {
    padding-right: 45px;
  }

  .sm-p-45px-b {
    padding-bottom: 45px;
  }

  .sm-m-50px {
    margin: 50px;
  }

  .sm-m-50px-tb {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .sm-m-50px-lr {
    margin-left: 50px;
    margin-right: 50px;
  }

  .sm-m-50px-t {
    margin-top: 50px;
  }

  .sm-m-50px-l {
    margin-left: 50px;
  }

  .sm-m-50px-r {
    margin-right: 50px;
  }

  .sm-m-50px-b {
    margin-bottom: 50px;
  }

  .sm-p-50px {
    padding: 50px;
  }

  .sm-p-50px-tb {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sm-p-50px-lr {
    padding-left: 50px;
    padding-right: 50px;
  }

  .sm-p-50px-t {
    padding-top: 50px;
  }

  .sm-p-50px-l {
    padding-left: 50px;
  }

  .sm-p-50px-r {
    padding-right: 50px;
  }

  .sm-p-50px-b {
    padding-bottom: 50px;
  }

  .sm-m-55px {
    margin: 55px;
  }

  .sm-m-55px-tb {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .sm-m-55px-lr {
    margin-left: 55px;
    margin-right: 55px;
  }

  .sm-m-55px-t {
    margin-top: 55px;
  }

  .sm-m-55px-l {
    margin-left: 55px;
  }

  .sm-m-55px-r {
    margin-right: 55px;
  }

  .sm-m-55px-b {
    margin-bottom: 55px;
  }

  .sm-p-55px {
    padding: 55px;
  }

  .sm-p-55px-tb {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .sm-p-55px-lr {
    padding-left: 55px;
    padding-right: 55px;
  }

  .sm-p-55px-t {
    padding-top: 55px;
  }

  .sm-p-55px-l {
    padding-left: 55px;
  }

  .sm-p-55px-r {
    padding-right: 55px;
  }

  .sm-p-55px-b {
    padding-bottom: 55px;
  }

  .sm-m-60px {
    margin: 60px;
  }

  .sm-m-60px-tb {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .sm-m-60px-lr {
    margin-left: 60px;
    margin-right: 60px;
  }

  .sm-m-60px-t {
    margin-top: 60px;
  }

  .sm-m-60px-l {
    margin-left: 60px;
  }

  .sm-m-60px-r {
    margin-right: 60px;
  }

  .sm-m-60px-b {
    margin-bottom: 60px;
  }

  .sm-p-60px {
    padding: 60px;
  }

  .sm-p-60px-tb {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sm-p-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
  }

  .sm-p-60px-t {
    padding-top: 60px;
  }

  .sm-p-60px-l {
    padding-left: 60px;
  }

  .sm-p-60px-r {
    padding-right: 60px;
  }

  .sm-p-60px-b {
    padding-bottom: 60px;
  }

  .sm-m-65px {
    margin: 65px;
  }

  .sm-m-65px-tb {
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .sm-m-65px-lr {
    margin-left: 65px;
    margin-right: 65px;
  }

  .sm-m-65px-t {
    margin-top: 65px;
  }

  .sm-m-65px-l {
    margin-left: 65px;
  }

  .sm-m-65px-r {
    margin-right: 65px;
  }

  .sm-m-65px-b {
    margin-bottom: 65px;
  }

  .sm-p-65px {
    padding: 65px;
  }

  .sm-p-65px-tb {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .sm-p-65px-lr {
    padding-left: 65px;
    padding-right: 65px;
  }

  .sm-p-65px-t {
    padding-top: 65px;
  }

  .sm-p-65px-l {
    padding-left: 65px;
  }

  .sm-p-65px-r {
    padding-right: 65px;
  }

  .sm-p-65px-b {
    padding-bottom: 65px;
  }

  .sm-m-70px {
    margin: 70px;
  }

  .sm-m-70px-tb {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .sm-m-70px-lr {
    margin-left: 70px;
    margin-right: 70px;
  }

  .sm-m-70px-t {
    margin-top: 70px;
  }

  .sm-m-70px-l {
    margin-left: 70px;
  }

  .sm-m-70px-r {
    margin-right: 70px;
  }

  .sm-m-70px-b {
    margin-bottom: 70px;
  }

  .sm-p-70px {
    padding: 70px;
  }

  .sm-p-70px-tb {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .sm-p-70px-lr {
    padding-left: 70px;
    padding-right: 70px;
  }

  .sm-p-70px-t {
    padding-top: 70px;
  }

  .sm-p-70px-l {
    padding-left: 70px;
  }

  .sm-p-70px-r {
    padding-right: 70px;
  }

  .sm-p-70px-b {
    padding-bottom: 70px;
  }

  .sm-m-75px {
    margin: 75px;
  }

  .sm-m-75px-tb {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .sm-m-75px-lr {
    margin-left: 75px;
    margin-right: 75px;
  }

  .sm-m-75px-t {
    margin-top: 75px;
  }

  .sm-m-75px-l {
    margin-left: 75px;
  }

  .sm-m-75px-r {
    margin-right: 75px;
  }

  .sm-m-75px-b {
    margin-bottom: 75px;
  }

  .sm-p-75px {
    padding: 75px;
  }

  .sm-p-75px-tb {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .sm-p-75px-lr {
    padding-left: 75px;
    padding-right: 75px;
  }

  .sm-p-75px-t {
    padding-top: 75px;
  }

  .sm-p-75px-l {
    padding-left: 75px;
  }

  .sm-p-75px-r {
    padding-right: 75px;
  }

  .sm-p-75px-b {
    padding-bottom: 75px;
  }

  .sm-m-80px {
    margin: 80px;
  }

  .sm-m-80px-tb {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .sm-m-80px-lr {
    margin-left: 80px;
    margin-right: 80px;
  }

  .sm-m-80px-t {
    margin-top: 80px;
  }

  .sm-m-80px-l {
    margin-left: 80px;
  }

  .sm-m-80px-r {
    margin-right: 80px;
  }

  .sm-m-80px-b {
    margin-bottom: 80px;
  }

  .sm-p-80px {
    padding: 80px;
  }

  .sm-p-80px-tb {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .sm-p-80px-lr {
    padding-left: 80px;
    padding-right: 80px;
  }

  .sm-p-80px-t {
    padding-top: 80px;
  }

  .sm-p-80px-l {
    padding-left: 80px;
  }

  .sm-p-80px-r {
    padding-right: 80px;
  }

  .sm-p-80px-b {
    padding-bottom: 80px;
  }

  .sm-m-85px {
    margin: 85px;
  }

  .sm-m-85px-tb {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  .sm-m-85px-lr {
    margin-left: 85px;
    margin-right: 85px;
  }

  .sm-m-85px-t {
    margin-top: 85px;
  }

  .sm-m-85px-l {
    margin-left: 85px;
  }

  .sm-m-85px-r {
    margin-right: 85px;
  }

  .sm-m-85px-b {
    margin-bottom: 85px;
  }

  .sm-p-85px {
    padding: 85px;
  }

  .sm-p-85px-tb {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .sm-p-85px-lr {
    padding-left: 85px;
    padding-right: 85px;
  }

  .sm-p-85px-t {
    padding-top: 85px;
  }

  .sm-p-85px-l {
    padding-left: 85px;
  }

  .sm-p-85px-r {
    padding-right: 85px;
  }

  .sm-p-85px-b {
    padding-bottom: 85px;
  }

  .sm-m-90px {
    margin: 90px;
  }

  .sm-m-90px-tb {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .sm-m-90px-lr {
    margin-left: 90px;
    margin-right: 90px;
  }

  .sm-m-90px-t {
    margin-top: 90px;
  }

  .sm-m-90px-l {
    margin-left: 90px;
  }

  .sm-m-90px-r {
    margin-right: 90px;
  }

  .sm-m-90px-b {
    margin-bottom: 90px;
  }

  .sm-p-90px {
    padding: 90px;
  }

  .sm-p-90px-tb {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .sm-p-90px-lr {
    padding-left: 90px;
    padding-right: 90px;
  }

  .sm-p-90px-t {
    padding-top: 90px;
  }

  .sm-p-90px-l {
    padding-left: 90px;
  }

  .sm-p-90px-r {
    padding-right: 90px;
  }

  .sm-p-90px-b {
    padding-bottom: 90px;
  }

  .sm-m-95px {
    margin: 95px;
  }

  .sm-m-95px-tb {
    margin-top: 95px;
    margin-bottom: 95px;
  }

  .sm-m-95px-lr {
    margin-left: 95px;
    margin-right: 95px;
  }

  .sm-m-95px-t {
    margin-top: 95px;
  }

  .sm-m-95px-l {
    margin-left: 95px;
  }

  .sm-m-95px-r {
    margin-right: 95px;
  }

  .sm-m-95px-b {
    margin-bottom: 95px;
  }

  .sm-p-95px {
    padding: 95px;
  }

  .sm-p-95px-tb {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .sm-p-95px-lr {
    padding-left: 95px;
    padding-right: 95px;
  }

  .sm-p-95px-t {
    padding-top: 95px;
  }

  .sm-p-95px-l {
    padding-left: 95px;
  }

  .sm-p-95px-r {
    padding-right: 95px;
  }

  .sm-p-95px-b {
    padding-bottom: 95px;
  }

  .sm-m-100px {
    margin: 100px;
  }

  .sm-m-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .sm-m-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
  }

  .sm-m-100px-t {
    margin-top: 100px;
  }

  .sm-m-100px-l {
    margin-left: 100px;
  }

  .sm-m-100px-r {
    margin-right: 100px;
  }

  .sm-m-100px-b {
    margin-bottom: 100px;
  }

  .sm-p-100px {
    padding: 100px;
  }

  .sm-p-100px-tb {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .sm-p-100px-lr {
    padding-left: 100px;
    padding-right: 100px;
  }

  .sm-p-100px-t {
    padding-top: 100px;
  }

  .sm-p-100px-l {
    padding-left: 100px;
  }

  .sm-p-100px-r {
    padding-right: 100px;
  }

  .sm-p-100px-b {
    padding-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .main-left {
    padding-left: 95px;
  }
}

.particles-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-bg {
  overflow: hidden;
}

/* Home Banner 1
----------------------*/
.home-banner-01 {
  position: relative;
}
@media (max-width: 767px) {
  .home-banner-01 {
    background-position: 70% center;
  }
}
.home-banner-01 .container {
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text {
    background: rgba(255, 255, 255, 0.8);
    padding: 25px;
  }
}
.home-banner-01 h6 {
  color: #090a0c;
  font-size: 18px;
  margin: 0 0 15px;
}
@media (max-width: 991px) {
  .home-banner-01 h6 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 h6 {
    font-size: 14px;
  }
}
.home-banner-01 h1 {
  font-size: 60px;
  color: #090a0c;
  font-weight: 600;
  margin: 0 0 15px;
  line-height: 1;
}
@media (max-width: 991px) {
  .home-banner-01 h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 h1 {
    font-size: 35px;
  }
}
.home-banner-01 h2 {
  font-weight: 500;
  font-size: 20px;
  color: #090a0c;
  margin: 0 0 15px;
}
@media (max-width: 991px) {
  .home-banner-01 h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 h2 {
    font-size: 16px;
  }
}
.home-banner-01 h2 > span {
  border-bottom: 1px solid #090a0c;
}
.home-banner-01 p {
  color: rgba(9, 10, 12, 0.8);
  margin: 0;
}
.home-banner-01 .btn-bar {
  padding-top: 25px;
}
.home-banner-01 .btn-bar a {
  min-width: 120px;
  margin-right: 12px;
}
.home-banner-01 .go-to-next {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 35px;
  margin: auto;
  z-index: 1;
  text-align: center;
}
.home-banner-01 .go-to-next a {
  width: 35px;
  height: 35px;
  position: relative;
  display: inline-block;
  background: #d9832e;
  border-radius: 50%;
  animation: down 1s linear infinite;
  -webkit-animation: down 1s linear infinite;
}
.home-banner-01 .go-to-next a span {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@-webkit-keyframes down {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 15px;
    opacity: 1;
  }
  60% {
    top: 15px;
    opacity: 0.60;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes down {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 15px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
/* Home Banner 2
----------------------*/
.home-banner-02 {
  position: relative;
}
.home-banner-02:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #090a0c;
  opacity: 0.8;
}
.home-banner-02 .container {
  position: relative;
  z-index: 1;
}
.home-banner-02 h6 {
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 8px;
}
@media (max-width: 991px) {
  .home-banner-02 h6 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .home-banner-02 h6 {
    font-size: 14px;
  }
}
.home-banner-02 h1 {
  font-size: 80px;
  color: #ffffff;
  font-weight: 600;
  margin: 0 0 25px;
  line-height: 1.3;
}
@media (max-width: 991px) {
  .home-banner-02 h1 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .home-banner-02 h1 {
    font-size: 35px;
  }
}
.home-banner-02 .ht-list span {
  background: rgba(255, 255, 255, 0.13);
  margin: 0 3px;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 30px;
  letter-spacing: 1px;
}
.home-banner-02 .social-icons a {
  background: rgba(255, 255, 255, 0.13);
  margin: 0 3px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  border-radius: 50%;
}
.home-banner-02 .social-icons a:hover {
  background: #ffffff;
  color: #090a0c;
}
.home-banner-02 .btn-bar {
  padding-top: 25px;
}
.home-banner-02 .go-to-next {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 35px;
  margin: auto;
  z-index: 1;
  text-align: center;
}
.home-banner-02 .go-to-next a {
  width: 35px;
  height: 35px;
  position: relative;
  display: inline-block;
  background: #ffffff;
  border-radius: 50%;
  animation: down 1s linear infinite;
  -webkit-animation: down 1s linear infinite;
}
.home-banner-02 .go-to-next a span {
  border-top: 1px solid #090a0c;
  border-right: 1px solid #090a0c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* About Us
----------------------*/
.about-me-img {
  border: 14px solid #ffffff;
  border-radius: 5px;
  position: relative;
}
.about-me-img .social-icon {
  width: 50px;
  position: absolute;
  top: 20px;
  left: -10px;
  background: #ffffff;
  padding: 8px;
}
.about-me-img .social-icon a {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #d9832e;
  color: #ffffff;
  margin: 3px 0;
  font-size: 12px;
}
.about-me-img .social-icon a:hover {
  background: #090a0c;
}
.about-me-img .btns {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
.about-me-img .btns a {
  flex: 0 0 50%;
  max-width: 50%;
  background: #d9832e;
  padding: 10px 5px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.045rem;
}
.about-me-img .btns a:hover {
  background: #090a0c;
}
.about-me-img .btns a + a {
  border-left: 1px solid #ffffff;
}

@media (min-width: 992px) {
  .about-me {
    padding-left: 40px;
  }
}
.about-me h4 {
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 10px;
  color: #090a0c;
}
.about-me h6 {
  color: #090a0c;
  font-weight: 400;
  margin: 0 0 20px;
}
.about-me .about-list {
  padding-top: 10px;
}
.about-me .media {
  padding: 6px 0;
  line-height: normal;
}
.about-me .media label {
  margin: 0;
  color: #090a0c;
  font-weight: 500;
  font-size: 14px;
  flex: 0 0 90px;
  border-right: 1px solid #c1c1c1;
  max-width: 90px;
}
.about-me .media p {
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 14px;
}
.about-me .btn-bar {
  margin-top: 30px;
}

/* fun
------------------*/
.feature-box-2 {
  padding: 18px 15px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #d9832e;
  box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-2 .icon {
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #d9832e;
}
.feature-box-2 h5 {
  margin: 0;
  font-size: 16px;
  color: #090a0c;
}
.feature-box-2:hover {
  background: #ffffff;
}
.feature-box-2:hover .icon {
  color: #d9832e;
}
.feature-box-2:hover h5 {
  color: #090a0c;
}

/* Services
------------------*/
.feature-box-1 {
  padding: 40px 30px;
  background: #ffffff;
  border: 1px solid #eee;
  border-radius: 5px;
  position: relative;
  top: 0;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  border: 2px dotted #d9832e;
  color: #d9832e;
  font-size: 32px;
  margin-bottom: 22px;
}
.feature-box-1 h5 {
  color: #090a0c;
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 12px;
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:hover {
  background: #d9832e;
  border-color: #d9832e;
  top: -10px;
}
.feature-box-1:hover .icon {
  border-color: #ffffff;
  color: #ffffff;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio
------------------*/
.portfolio-content {
  margin-left: -10px;
  shape-margin: -10px;
}
.portfolio-content .grid-item {
  padding: 10px;
  width: calc(100% / 3);
  float: left;
}
@media (max-width: 991px) {
  .portfolio-content .grid-item {
    width: calc(100% / 2);
  }
}
@media (max-width: 567px) {
  .portfolio-content .grid-item {
    width: 100%;
  }
}

.portfolio-box-01 {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.portfolio-box-01 .link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.portfolio-box-01 img {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.portfolio-box-01 .portfolio-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 10, 12, 0.5);
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  opacity: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.portfolio-box-01 .portfolio-info h5 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
  margin: 0 0 10px;
  position: relative;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  left: -25px;
}
@media (max-width: 991px) {
  .portfolio-box-01 .portfolio-info h5 {
    font-size: 20px;
  }
}
.portfolio-box-01 .portfolio-info span {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  padding: 2px 12px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  position: relative;
  left: -25px;
}
.portfolio-box-01:hover .portfolio-info {
  opacity: 1;
}
.portfolio-box-01:hover .portfolio-info h5 {
  left: 0;
}
.portfolio-box-01:hover .portfolio-info span {
  left: 0;
}
.portfolio-box-01:hover img {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Testimonials
------------------*/
.testimonial-col-01 {
  background: #ffffff;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
  border: 1px solid #edd;
}
.testimonial-col-01 .img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50% 0 50% 50%;
}
@media (max-width: 767px) {
  .testimonial-col-01 .img {
    width: 60px;
    height: 60px;
  }
}

/* Blog
------------------*/
.blog-grid .blog-gird-info {
  background: #ffffff;
  margin: -30px 10px 0;
  position: relative;
  padding: 18px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.19);
}
.blog-grid .blog-gird-info .date {
  background: #d9832e;
  font-size: 12px;
  position: absolute;
  top: -27px;
  padding: 4px 20px;
  color: #ffffff;
  border-radius: 0;
  left: 0px;
}
.blog-grid .blog-gird-info .meta {
  background: #ffffff;
  padding: 0px 12px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.blog-grid .blog-gird-info .b-meta {
  margin-bottom: 8px;
}
.blog-grid .blog-gird-info h5 {
  font-weight: 500;
  font-size: 17px;
}
.blog-grid .blog-gird-info h5 a {
  color: #090a0c;
}

/* Contact Us
------------------*/
.contact-form {
  border-radius: 5px;
  background: #ffffff;
  padding: 5%;
}
.contact-form h4 {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #090a0c;
  margin-bottom: 20px;
}
.contact-form .form-group {
  position: relative;
  margin-bottom: 20px;
}
.contact-form .form-group .input-focus-effect {
  position: absolute;
  bottom: -1px;
  left: auto;
  right: 0;
  width: 0px;
  height: 2px;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.contact-form .form-group .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact-form .form-group .form-control.invalid {
  border-color: #ff0000;
}
.contact-form .form-group .form-control.invalid:focus + .input-focus-effect {
  background: #ff0000;
}
.contact-form .form-group .form-control:focus + .input-focus-effect {
  width: 100%;
  right: auto;
  left: 0;
}
.contact-form .form-group textarea {
  height: 80px;
}

.contact-info {
  background: #ffffff;
  padding: 20px;
}
.contact-info:not(:first-child) {
  margin-top: 20px;
}
.contact-info .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  background: #d9832e;
  font-size: 19px;
  line-height: 40px;
  margin-right: 20px;
}
.contact-info .media-body h6 {
  font-size: 15px;
  font-weight: 500;
  color: #090a0c;
  margin-bottom: 8px;
}
.contact-info .media-body p {
  margin: 0;
  font-size: 14px;
}

/*# sourceMappingURL=master.css.map */
